extends layouts/main

block content 
    .form-container
        form(action=routes.changePassword, method="post")
            input(type="password", placeholder="Current Password", name="password")
            input(type="password", placeholder="New Password", name="new password")
            input(type="password", placeholder="Verify New Password", name="check")
            input(type="submit", value="Change Password")